<div class="card mb-3">
  <h2 class="card-header h4">
    Bookmark #<%= bookmark.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Dish</dt>
      <!-- Display dish_id start -->
      <dd>
        <% if @bookmark.dish.present? %>
          <%= link_to bookmark.dish, bookmark.dish %>
        <% end %>
      </dd>
      <!-- Display dish_id end -->

      <dt>Venue</dt>
      <!-- Display venue_id start -->
      <dd>
        <% if @bookmark.venue.present? %>
          <%= link_to bookmark.venue, bookmark.venue %>
        <% end %>
      </dd>
      <!-- Display venue_id end -->

      <dt>User</dt>
      <!-- Display user_id start -->
      <dd>
        <% if @bookmark.user.present? %>
          <%= link_to bookmark.user, bookmark.user %>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>Notes</dt>
      <!-- Display notes start -->
      <dd><%= bookmark.notes %></dd>
      <!-- Display notes end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back bookmark, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link bookmark start -->
      <div class="col">
        <%= link_to edit_bookmark_url(bookmark), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link bookmark end -->

      <!-- Delete link bookmark start -->
      <div class="col">
        <%= link_to bookmark, method: :delete, data: { confirm: "Do you really want to delete this bookmark?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link bookmark end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(bookmark.updated_at) %> ago
  </div>
</div>
