<div class="card mb-3">
  <h2 class="card-header h4">
    Cuisine #<%= cuisine.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= cuisine.name %></dd>
      <!-- Display name end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back cuisine, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link cuisine start -->
      <div class="col">
        <%= link_to edit_cuisine_url(cuisine), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link cuisine end -->

      <!-- Delete link cuisine start -->
      <div class="col">
        <%= link_to cuisine, method: :delete, data: { confirm: "Do you really want to delete this cuisine?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link cuisine end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(cuisine.updated_at) %> ago
  </div>
</div>
