<%= form_with(model: @dish, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :cuisine_id, value: @cuisine.id %>

  <%= f.submit "Create dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
