<%= form_with(model: @bookmark, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :dish_id %>

    <%= f.collection_select :dish_id, Dish.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :venue_id %>

    <%= f.collection_select :venue_id, Venue.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create bookmark", class: "btn btn-block btn-outline-secondary" %>
<% end %>
