<div class="card mb-3">
  <h2 class="card-header h4">
    Neighborhood #<%= neighborhood.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= neighborhood.name %></dd>
      <!-- Display name end -->

      <dt>City</dt>
      <!-- Display city start -->
      <dd><%= neighborhood.city %></dd>
      <!-- Display city end -->

      <dt>State</dt>
      <!-- Display state start -->
      <dd><%= neighborhood.state %></dd>
      <!-- Display state end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back neighborhood, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link neighborhood start -->
      <div class="col">
        <%= link_to edit_neighborhood_url(neighborhood), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link neighborhood end -->

      <!-- Delete link neighborhood start -->
      <div class="col">
        <%= link_to neighborhood, method: :delete, data: { confirm: "Do you really want to delete this neighborhood?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link neighborhood end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(neighborhood.updated_at) %> ago
  </div>
</div>
