<% was_validated = neighborhood.errors.any? %>

<%= form_with(model: neighborhood, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = neighborhood.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% neighborhood.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% city_class = "form-control" %>
    <% city_was_invalid = neighborhood.errors.include?(:city) %>

    <% if was_validated %>
      <% if city_was_invalid %>
        <% city_class << " is-invalid" %>
      <% else %>
        <% city_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :city %>
    <%= f.text_field :city, class: city_class, placeholder: "Enter city" %>
    <% if city_was_invalid %>
      <% neighborhood.errors.full_messages_for(:city).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% state_class = "form-control" %>
    <% state_was_invalid = neighborhood.errors.include?(:state) %>

    <% if was_validated %>
      <% if state_was_invalid %>
        <% state_class << " is-invalid" %>
      <% else %>
        <% state_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :state %>
    <%= f.text_field :state, class: state_class, placeholder: "Enter state" %>
    <% if state_was_invalid %>
      <% neighborhood.errors.full_messages_for(:state).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
