<%= form_with(model: @venue, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>

    <%= f.text_field :address, class: "form-control" %>
  </div>

  <%= f.hidden_field :neighborhood_id, value: @neighborhood.id %>

  <%= f.submit "Create venue", class: "btn btn-block btn-outline-secondary" %>
<% end %>
